@import url("https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light+Two&display=swap");
/******************** GENERAL setting *********************/
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #165d87;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/******************** GENERAL setting end *********************/
/******************** HEADER *********************/

/*************** h1 title "TICKETDODGER" ***************/
/*
.neon {
    width: 28vw;
    height: 8vw;
    margin: 1vw;
}
*/
/*
.text {
  background-color: black;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}
.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}
.gradient {
  position: absolute;
  background: linear-gradient(45deg, #245A97, #B0B0B0, #FFFFFF, #223B75, #E4002B, #245A97, #B0B0B0, #FFFFFF, #223B75, #E4002B);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}
.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, white, transparent 25%) center/25% 25%, radial-gradient(circle, white, black 25%) center/12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}
@keyframes light {
  to {
    transform: translate(50%, 50%);
  }
}
*/

#myHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 3px 0 rgba(0, 0, 0, 0.1);
  /* perfect layer setting, can make the +- button be seen */
  z-index: 999;
}

#myHeader::after {
  content: "";
  background: url("../wall.jpg");
  opacity: 0.95;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.logo {
  padding-left: 6vw;
  padding-bottom: 0.5em;
/*  font-family: "Shadows Into Light Two";*/
  color: #165d87;
  font-size: 2em;
/*  text-shadow: 2px 2px 2px #ffffff;*/
  font-weight: bolder;
  z-index: 1;
    text-align: center;
/*
        text-shadow: 0 0 1px rgba(202, 228, 225, 0.92), 
    0 0 2px rgba(202, 228, 225, 0.34);
*/
/*    0 0 2px rgba(30, 132, 242, 0.52);*/
/*    0 0 3px rgba(30, 132, 242, 0.92); */
/*    0 0 3px rgba(30, 132, 242, 0.78);*/
/*    0 0 3px rgba(30, 132, 242, 0.92);*/
    

    text-transform: uppercase;
	background: linear-gradient(45deg, #245a97 10%, #B0B0B0 20%, #FFFFFF 30%, #223B75 40%, #E4002B 50%, #245A97 60%, #B0B0B0 70%, #FFFFFF 80%, #223B75 90%, #E4002B 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    
    animation: logolight 5s infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}
@keyframes logolight {
    5% {
	background: linear-gradient(45deg, #E4002B 10%, #245a97 20%, #B0B0B0 30%, #FFFFFF 40%, #223B75 50%, #E4002B 60%, #245A97 70%, #B0B0B0 80%, #FFFFFF 90%, #223B75 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
    10% {
	background: linear-gradient(45deg, #223B75 10%, #E4002B 20%, #245a97 30%, #B0B0B0 40%, #FFFFFF 50%, #223B75 60%, #E4002B 70%, #245A97 80%, #B0B0B0 90%, #FFFFFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
    15% {
	background: linear-gradient(45deg, #FFFFFF 10%, #223B75 20%, #E4002B 30%, #245a97 40%, #B0B0B0 50%, #FFFFFF 60%, #223B75 70%, #E4002B 80%, #245A97 90%, #B0B0B0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
/*
    3% {
    background: linear-gradient(to right, #223b75 0%, #ffffff 20%, #e4002b 40%, #245a97 60%, #b0b0b0 80%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    4% {
    background: linear-gradient(to right, #ffffff 0%, #223b75 20%, #ffffff 40%, #e4002b 60%, #245a97 80%, #b0b0b0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5% {
    background: linear-gradient(to right, #b0b0b0 0%, #ffffff 20%, #223b75 40%, #ffffff 60%, #e4002b 80%, #245a97 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
*/
    
    100% {
	background: linear-gradient(45deg, #FFFFFF 10%, #223B75 20%, #E4002B 30%, #245a97 40%, #B0B0B0 50%, #FFFFFF 60%, #223B75 70%, #E4002B 80%, #245A97 90%, #B0B0B0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
}

h1 {
    margin: 0.5vw 0 !important;
    padding: 0;
}

.logo-copyright {
    font-size: 0.33em;
    margin: 0;
    padding: 0;
    text-decoration-line: overline;
}

.contact {
  position: absolute;
  right: 3em;
  top: 40%;
  color: #165d87;
}

.text {
  position: absolute;
  top: 40%;
  left: 22%;
  right: 20%;
  font-size: 1em;
  color: #d93f4b;
  font-weight: bolder;
  font-style: italic;
  display: flex;
  flex-flow: row wrap;
  letter-spacing: -0.1em;
}

.neontext {
    color: whitesmoke;
    text-shadow: 0 0 5px rgba(202, 228, 225, 0.92), 
    0 0 10px rgba(202, 228, 225, 0.34), 
    0 0 20px rgba(30, 132, 242, 0.52),
    0 0 10px rgba(30, 132, 242, 0.92), 
    0 0 10px rgba(30, 132, 242, 0.78), 
    0 0 20px rgba(30, 132, 242, 0.92);
}
/************ timeslot *************/
.timeslot {
  position: absolute;
  left: 40%;
  top: 30%;
  font-size: 1.2em;
}

/************ timeslot end *************/
/******************** HEADER end *********************/

/******************** RESULT block *******************/
.resultContainer {
  width: 40vw;
  position: absolute;
  z-index: 1;
  font-family: "Raleway";
  color: #165d87;
  max-height: 100vh;
}

.result {
  z-index: 9999;
  padding: 0.5vw 3vw;
  margin: 12% 0;
  font-size: 1em;
  line-height: 2.5em;
  background: url("../wall.jpg");
  border-radius: 0.2em;  
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.resultText {
  margin: 0;
  padding: 0;
}

.dragtext {
    width: 100%;
    text-align: right;
    line-height: 3vw;
}

#address {
  font-size: 1.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: underline;
  font-weight: bold;
}

.realtime {
  font-size: 1.3em;
  padding-left: 0.5em;
  text-decoration: underline;
  font-weight: bold;
}

#level {
  font-size: 1.3em;
  padding-bottom: 2vw;
  /*** use js change color ***/
  font-weight: bold;
  line-height: 1.8em;
  vertical-align: middle;
    
    text-shadow: 0 0 3px rgba(202, 228, 225, 0.92), 
    0 0 5px rgba(202, 228, 225, 0.34), 
    0 0 10px rgba(30, 132, 242, 0.52),
    0 0 5px rgba(30, 132, 242, 0.92), 
    0 0 5px rgba(30, 132, 242, 0.78), 
    0 0 10px rgba(30, 132, 242, 0.92);
}

.icon {
  width: 40px;
  margin-left: 1em;
}

.suggestion {
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1.6em;
  font-weight: bold;
  animation: glow 1s ease-in-out infinite alternate;
    
        
}

@keyframes glow {
  from {
    text-shadow: 0;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff3b0, 0 0 3px #fff3b0;
  }
}

.point {
  line-height: 3em;
}

.checkheatmap {
    font-size: 1em;
    font-weight: bold;
}

.fingerimg {
    width: 50px;
    color: whitesmoke;
    padding-left: 1vw;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg); 
}

.gobacklink {
  padding-top: 0.5vw;
    padding-bottom: 1vw;
  font-size: 1em;
  font-weight: bold;
}
.gobacklink:hover a {
    color: whitesmoke;
}

/******************** RESULT block end *******************/
/******************** FOOTER *********************/
.bg__white-transparent {
  background: #faf3f0;
  opacity: 0.5;
}

#footer {
  z-index: 999;
  width: 100%;
  height: 1.1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

#footer::after {
  z-index: -1;
  content: "";
  background: #faf3f0;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.copyright {
  margin: 0 auto;
  color: #165d87;
  font-size: 0.9em;
  font-weight: 800;
}
#error_display {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FEE;
    display: none;
    z-index: 9999;
}
#searchform__error {
    font-size: 3em;
    font-weight: 800;
}

/******************** FOOTER end *********************/
/*
 * Keyframes
 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */

.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}
.m-scene .scene_element--fadeinup {
  animation-name: fadeInUp;
}
.m-scene .scene_element--fadeinright {
  animation-name: fadeInRight;
}
.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

#logo-title {
    font-size: 2.8rem; 
}
.theme {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 1.2em;
}

@media (min-width: 768px) {
  #btn-box {
    display: none;
  }
}
