@import "compass/css3";
@import url("https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light+Two&display=swap");
/*----- GENERAL SETTING -----*/
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #165d87;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
/*----- GENERAL SETTING end -----*/

/*----- HEADER -----*/
#myHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 3px 0 rgba(0, 0, 0, 0.1);
  /* perfect layer setting, can make the +- button be seen */
  z-index: 999;
}
#myHeader::after {
  content: "";
  background: url("../wall.jpg");
  opacity: 0.95;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.logo {
    padding-left: 6vw;
    padding-bottom: 0.5em;
    color: #165d87;
    font-size: 2em;
    font-weight: bolder;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(45deg, #245a97 10%, #B0B0B0 20%, #FFFFFF 30%, #223B75 40%, #E4002B 50%, #245A97 60%, #B0B0B0 70%, #FFFFFF 80%, #223B75 90%, #E4002B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: logolight 5s infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}
@keyframes logolight {
    5% {
        background: linear-gradient(45deg, #E4002B 10%, #245a97 20%, #B0B0B0 30%, #FFFFFF 40%, #223B75 50%, #E4002B 60%, #245A97 70%, #B0B0B0 80%, #FFFFFF 90%, #223B75 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10% {
        background: linear-gradient(45deg, #223B75 10%, #E4002B 20%, #245a97 30%, #B0B0B0 40%, #FFFFFF 50%, #223B75 60%, #E4002B 70%, #245A97 80%, #B0B0B0 90%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    15% {
        background: linear-gradient(45deg, #FFFFFF 10%, #223B75 20%, #E4002B 30%, #245a97 40%, #B0B0B0 50%, #FFFFFF 60%, #223B75 70%, #E4002B 80%, #245A97 90%, #B0B0B0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(45deg, #FFFFFF 10%, #223B75 20%, #E4002B 30%, #245a97 40%, #B0B0B0 50%, #FFFFFF 60%, #223B75 70%, #E4002B 80%, #245A97 90%, #B0B0B0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
h1 {
    margin: 0.5vw 0 !important;
    padding: 0;
}
.logo-copyright {
    font-size: 0.33em;
    margin: 0;
    padding: 0;
    text-decoration-line: overline;
}
.contact {
  position: absolute;
  right: 3em;
  top: 40%;
  color: #165d87;
}
.text {
  position: absolute;
  top: 40%;
  left: 22%;
  right: 20%;
  font-size: 1em;
  color: #d93f4b;
  font-weight: bolder;
  font-style: italic;
  display: flex;
  flex-flow: row wrap;
  letter-spacing: -0.1em;
}
.neontext {
    color: whitesmoke;
    text-shadow: 0 0 5px rgba(202, 228, 225, 0.92), 
    0 0 10px rgba(202, 228, 225, 0.34), 
    0 0 20px rgba(30, 132, 242, 0.52),
    0 0 10px rgba(30, 132, 242, 0.92), 
    0 0 10px rgba(30, 132, 242, 0.78), 
    0 0 20px rgba(30, 132, 242, 0.92);
}
/*----- timeslot -----*/
.timeslot {
  position: absolute;
  left: 40%;
  top: 30%;
  font-size: 1.2em;
}
/*----- timeslot end -----*/
/*----- HEADER end -----*/

/*----- RESULT block -----*/
.resultContainer {
  width: 40vw;
  position: absolute;
  z-index: 1;
  font-family: "Raleway";
  color: #165d87;
  max-height: 100vh;
}
.result {
  z-index: 9999;
  padding: 0.5vw 3vw;
  margin: 13% 0;
  font-size: 1em;
  line-height: 2.5em;
  background: url("../wall.jpg");
  border-radius: 0.2em;  
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.resultText {
  margin: 0;
  padding: 0;
}
.dragtext {
    width: 100%;
    text-align: right;
    line-height: 3vw;
}
#address {
  font-size: 1.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: underline;
  font-weight: bold;
}

.realtime {
  font-size: 1.3em;
  padding-left: 0.5em;
  text-decoration: underline;
  font-weight: bold;
}
#level {
    font-size: 1.3em;
    padding-bottom: 2vw;
    /*** use js change color ***/
    font-weight: bold;
    line-height: 1.8em;
    vertical-align: middle;
    text-shadow: 0 0 3px rgba(202, 228, 225, 0.92), 
    0 0 5px rgba(202, 228, 225, 0.34), 
    0 0 10px rgba(30, 132, 242, 0.52),
    0 0 5px rgba(30, 132, 242, 0.92), 
    0 0 5px rgba(30, 132, 242, 0.78), 
    0 0 10px rgba(30, 132, 242, 0.92);
}
.icon {
  width: 40px;
  margin-left: 1em;
}
.suggestion {
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1.6em;
  font-weight: bold;
  animation: textglow 1s ease-in-out infinite alternate;     
}
@keyframes textglow {
  from {
    text-shadow: 0;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff3b0, 0 0 3px #fff3b0;
  }
}
.point {
  line-height: 3em;
}
.checkheatmap {
    font-size: 1em;
    font-weight: bold;
}
.fingerimg {
    width: 50px;
    color: whitesmoke;
    padding-left: 1vw;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg); 
}
.gobacklink {
  padding-top: 0.5vw;
  padding-bottom: 1vw;
  font-size: 1em;
  font-weight: bold;
}
.gobacklink:hover a {
    color: whitesmoke;
}
/*----- RESULT block end -----*/

/*----- FOOTER -----*/
.bg__white-transparent {
  background: #faf3f0;
  opacity: 0.5;
}
#footer {
  z-index: 999;
  width: 100%;
  height: 1.1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
#footer::after {
  z-index: -1;
  content: "";
  background: #faf3f0;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.copyright {
  margin: 0 auto;
  color: #165d87;
  font-size: 0.9em;
  font-weight: 800;
}

#error_display {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FEE;
    display: none;
    z-index: 9999;
}
#searchform__error {
    font-size: 3em;
    font-weight: 800;
}
/*----- FOOTER end -----*/

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */

.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}
.m-scene .scene_element--fadeinup {
  animation-name: fadeInUp;
}
.m-scene .scene_element--fadeinright {
  animation-name: fadeInRight;
}
.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}
#logo-title {
    font-size: 2.8rem; 
}
.theme {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 1.2em;
}

/*----- error page -----*/
#error_display {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../wall.jpg");
    background-size: cover;
    overflow: hidden;
}
.errorlogo {
    width: 15em;
    padding-left: 1.5vw;
    padding-bottom: 0.5em;
    color: #165d87;
    font-size: 2em;
    font-weight: bolder;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(45deg, #245a97 10%, #B0B0B0 20%, #FFFFFF 30%, #223B75 40%, #E4002B 50%, #245A97 60%, #B0B0B0 70%, #FFFFFF 80%, #223B75 90%, #E4002B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: logolight 5s infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}
#errorcontainer {
    width: 70%;
    margin: 13vw auto;
    font-size: 2.5em;
    position: relative;
}
#errorcontainer div {
    position: absolute;
    top: 10%;
    color: whitesmoke;
    margin: 0;
    animation: glitch1 2.5s infinite;
}
#errorcontainer div:nth-child(2) {
  position: absolute;
  top: 15%;
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}
#errorcontainer div:nth-child(3) {
  position: absolute;
  top: 15%;
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
.errorgobacklink {
    padding: 1vw;
    position: absolute;
    top: 65%;
    left: 44%;
    animation: glow 800ms ease-out infinite alternate;
    background: linear-gradient(#333933, #222922);
    border: 1px #E4002B solid;
    box-shadow: 0 0 5px rgba(228, 0, 43, 0.2), inset 0 0 5px rgba(228, 0, 43, 0.1), 0 2px 0 #000;
    outline: none;
}
@keyframes glow {
  0% {
    border-color: #245A97;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1), 0 2px 0 #000;
  }
  100% {
    border-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6), inset 0 0 10px rgba(0, 255, 0, 0.4), 0 2px 0 #000;
  }
}
.errorcopyright {
    width: 100%;
    height: 1.1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1vw;
    padding: 0;
    text-align: center;
}

/*----- MEDIA QUERY -----*/
@media (min-width: 768px) {
  #btn-box {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
    #myHeader {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
    }
    #myHeader::after {
        content: "";
        background: url("../wall.jpg");
        opacity: 0.95;
        top: 0;
        left: 0;
        bottom: -45%;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .timeslot {
        position: absolute;
        left: 10%;
        top: 100%;
        font-size: 1.2em;
    }
    .theme {
        display: inline-block;
        position: absolute;
        right: 5%;
        top: 100%;
        font-size: 1.2em;
    }
    .result {
        margin: 14.5% 0;
    }
    #errorcontainer {
        font-size: 2em;
    }
    .errorgobacklink {
        left: 35%;
    }
}